.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .example-card {
  width: 400px;
  margin: 10% auto;

  .mat-card-title {
    font-size: 20px;
  }
  
  .mat-card-header-text{
    margin:0;
  }

  .mat-card-actions{
    button.mat-raised-button {
      margin-right: 8px;
    }
  }
}

