.wrapper-app {
}

::ng-deep .mat-snack-bar-container.mat-error{
    background-color: #f44336;
    color: #fff;
}

::ng-deep .mat-form-field{
    .mat-icon{
        color: rgba(0,0,0,.54)
    }
    &.ng-touched{
        &.ng-invalid{
            .mat-icon{
                color: #f44336
            }
        }
    }
    &.ng-untouched{   
        &.mat-focused{
            .mat-icon{
                color: #673ab7
            }
        }
    }
}