::ng-deep .weather-card {
    width: 80%;
    margin: 10% auto;

    .mat-card-header-text{
        margin:0;
    }

    .city-field{
        width:100%;
    }
}

.apikey-wrapper{
    display: flex;
    margin-bottom: 16px;
}

.apikey-title{
    font-weight: 600;
    padding: 8px;
    color: #fff;
    background-color: #3F3F3F;
    border: solid 1px #3F3F3F;
    border-radius: 3px 0 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apikey-value{
    color:  #686868;
    border: solid 1px #3F3F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 0 3px 3px 0;

    button{
        margin-left: 8px;
    }
}