<mat-card class="weather-card">
  <mat-card-header>
    <mat-card-title>Weather Finder</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="apikey-wrapper">
      <div class="apikey-title mat-primary">API KEY:</div>
      <div class="apikey-value">
        {{user?.apiKey}}
        <button mat-icon-button color="disabled" [cdkCopyToClipboard]="user?.apiKey">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>
    <form class="example-form" [formGroup]="weatherForm">
      <mat-form-field class="city-field">
        <input matInput type="search" placeholder="City name" class="search-input" formControlName="city" name="city" required>
        <mat-icon matSuffix>search</mat-icon>
        <mat-error *ngIf="city.invalid">City is required</mat-error>
      </mat-form-field>
    </form>
    <div class="weather-result-wrapper">
        <div [hidden]="!isLoading">
          <mat-spinner></mat-spinner>
        </div>
        <div [hidden]="isLoading">
          <div *ngIf="weather"> 
            <div class="weather-result-content">
              <img src='{{ "http://openweathermap.org/img/wn/"+ weather?.icon+ "@2x.png" }}'>
              <div class="weather-result-main">{{weather.main}}</div>
              <div class="weather-result-desc">{{weather.description}}</div>
            </div>
          </div>
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
